.mainMusicBox{
    display: flex;
    gap: 1.5rem;
}
.musicBoxLeftContent{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.musicBoxItem{
    display: flex;
    padding: .3rem;
}
/* .musicBoxItem:hover{
    background-color: black;
    cursor: pointer;
} */
@media only screen and (max-width: 800px){
    .mainMusicBox{
        flex-direction: column;
    }
}